header {
  height: 70px;
  width: 100%;
  background-color: white;

  & button {
    width: 225px;
    font-size: 0.95em;
    background-color: #f6851b;
    font-weight: 500;
    font-family: 'Inter', 'Roboto', sans-serif;
    padding: 10px 15px;
    outline: none;
    border: 0px solid;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    & img {
      height: 20px;
      margin-right: 10px;
    }
  }
}

.wrapper-header {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;

  & img {
    width: 40px;
    margin-right: 10px;
  }

  & p {
    font-size: 2em;
    font-family: 'GravitypeMinigap', sans-serif;
  }
}

.stroke {
  width: 100%;
  max-width: 575px;
  font-size: 1em;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

.ul-header {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.ul-header li {
  position: relative;
}

.header-button {
  text-decoration: none;
  color: #5c5c5c;
  display: inline-block;
  padding: 5px 5px;
  position: relative;
}

.header-button:hover {
  color: black;
}

.header-button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.header-button:hover:after {
  width: 100%;
  left: 0;
}

.meta-connected {
  width: 225px;
  font-size: 0.95em;
  background-color: #f6851b;
  font-weight: 500;
  font-family: 'Inter', 'Roboto', sans-serif;
  padding: 7px 13px;
  outline: none;
  border: 2px solid #f6851b;
  color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & img {
    height: 20px;
  }
}

.icon-header {
  font-size: 22px;
}

.tooltip-header-button {
  display: flex;
  align-items: center;

  svg {
    font-size: 16px;
    margin-right: 5px;
    margin-top: -2px;
  }
}
