@import './var.scss';

.profile-page {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-info {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
}

.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.container-outlet {
  position: relative;
  width: 500px;
  padding: 4px;
  background: #eff2f5;
  display: flex;
  gap: 5px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.outlet-buttons {
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  flex: 1;
  text-align: center;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  z-index: 2;
  transition: color 240ms ease;
}

a.active {
  color: #fff;
}

.indicator-outlet {
  position: absolute;
  height: calc(100% - 8px);
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: calc((100% - 0px) / 3);
  background-color: $color-darkgray;
  background-color: $color-meta;
  border-radius: 10px;
  margin-left: calc((100% / 3 - 4px) * var(--active-index));
  transition: margin-left 360ms cubic-bezier(0.53, 0.32, 0.22, 1.07);
}

.profile-link {
  display: flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  color: #58667e;
  font-weight: 600;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  padding: 11px 15px;

  &:hover {
    background-color: #f8fafd;
  }
}

.profile-link-active {
  background-color: white;
}

.profile-info-block {
  width: 100%;
  height: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-head {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}

.head-hr {
  flex-grow: 1;
  border: 0;
  height: 0;
  border-bottom: 2px solid #f6851b;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#head-block {
  width: 150px;
  height: 150px;
  background-color: #fbfcfe;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  border: 2px solid $color-meta;
}

.info-address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
}

.info-status-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0 10px;
  border-radius: 12px;
  background-color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: default;
}

.wrong-network {
  background-color: rgba(246, 70, 93, 0.75);
  cursor: pointer;
}

.status {
  margin-top: 2px;
  margin-left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.profile-content {
  margin-top: 25px;
}

.button-palka {
  height: 18px;
  width: 1px;
  background: #d6d6d6;
  border-left: 1px solid #d6d6d6;
}

.status-block-icon {
  font-size: 20px;
  margin-right: 4px;
}

.outlet-icon-balance {
  font-size: 22px;
}

.outlet-icon-trans {
  font-size: 22px;
}

.outlet-icon-nft {
  font-size: 22px;
}

.import-token-block {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid $color-border;

  & button {
    background-color: $color-meta;
    border: 0px solid black;
    padding: 0px 16px;
    height: 35px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: 'Inter', 'Roboto', sans-serif;
    cursor: pointer;
  }

  & input {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 2px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid $color-border;

    &:focus {
      outline: none;
    }
  }
}

#import-load {
  margin-right: 6px;
}

.import-token-effect-block {
  float: left;
  position: relative;
}

.import-token-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid $color-border;
  background-color: transparent;
}

.import-token-effect ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $color-meta;
  transition: 0.75s;
}
.import-token-effect:focus ~ .focus-border {
  width: 100%;
  transition: 0.75s;
}

.transaction-history-block {
  margin-top: 25px;
  width: 100%;
}

.transaction-send {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.transaction-send-blocks {
  height: 145px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-send-block {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:nth-child(2) > div {
    display: flex;
    justify-content: center;

    & button {
      display: flex;
      flex-direction: column;
      gap: 3px;
      line-height: 16px;
      padding: 11px 16.5px;

      & p:nth-child(2) {
        text-transform: capitalize;
        font-size: 13px;
      }
    }
  }
}

.transaction-send-button {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    height: 100%;
    font-size: 16px;
    background-color: $color-meta;
    font-weight: 500;
    font-family: 'Inter', 'Roboto', sans-serif;
    padding: 0px 26px;
    outline: none;
    border: 2px solid $color-meta;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.send-icon {
  font-size: 20px;
  margin-bottom: -2px;
}

.label-send-block {
  font-size: 18px;
  font-weight: 600;
}

.nft-blocks {
  display: grid;
  grid-gap: 25px calc((100% - 225px * 4) / 3);
  grid-template-columns: repeat(auto-fill, 225px);
}

.nft-block {
  position: relative;
  width: 225px;
  height: 265px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;

  &:hover .nft-block-info {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  &:not(:hover) {
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.nft-block-last {
  width: 225px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.text-center {
  text-align: center;
}

.nft-block-info {
  height: 22px;
  width: 22px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;

  & svg {
    color: $color-meta;
    background-color: white;
    border: 1px solid $color-meta;
    border-radius: 50%;
  }
}

.nft-image {
  width: 100%;
  height: 225px;
  border-radius: 12px 12px 0 0;

  & img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    object-fit: fill;
  }
}

.nft-image-loader {
  width: 100%;
  height: 225px;
  border-radius: 12px 12px 0 0;
  background-color: #eff2f5;

  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    object-fit: fill;
  }
}

.nft-info {
  width: 100%;
  height: 40px;
  border-radius: 0 0 12px 12px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    font-weight: 600;
    padding: 3px 10px;
    border: 2px solid $color-meta;
    border-radius: 16px;
    user-select: none;
  }

  & a,
  & button {
    border: 0 solid;
    padding: 2px 10px;
    color: white;
    font-size: 15px;
    background-color: $color-meta;
    font-weight: 500;
    font-family: 'Inter', 'Roboto', sans-serif;
    padding: 5px 10px;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nft-info-new {
  width: 100%;
  height: 40px;
  border-radius: 0 0 12px 12px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-weight: 600;
    padding: 3px 10px;
    border: 2px solid $color-meta;
    border-radius: 16px;
    user-select: none;
  }

  & button {
    border: 0 solid;
    padding: 2px 10px;
    color: white;
    font-size: 15px;
    background-color: $color-meta;
    font-weight: 500;
    font-family: 'Inter', 'Roboto', sans-serif;
    padding: 5px 10px;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.eth-mint-icon {
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.import-table {
  border-top: 0px solid $color-border;
}

.blured-text-token {
  color: transparent;
  text-shadow: 0 0 6px #363636;
}

.blured-photo-token {
  filter: blur(4px);
}

.loader-anim-profile {
  margin-left: 100px;
}

.loader-anim-profile span {
  position: absolute;
  width: 6px;
  height: 90px;
  margin-top: -45px;
  border-radius: 10px;
  background-color: $color-darkgray;
  animation: animate-profile 0.8s infinite;
  animation-direction: alternate-reverse;
}
.loader-anim-profile span:nth-child(1) {
  margin-left: 0px;
}
.loader-anim-profile span:nth-child(2) {
  margin-left: -14px;
  animation-delay: 0.1s;
}
.loader-anim-profile span:nth-child(3) {
  margin-left: -28px;
  animation-delay: 0.2s;
}
.loader-anim-profile span:nth-child(4) {
  margin-left: -42px;
  animation-delay: 0.3s;
}
.loader-anim-profile span:nth-child(5) {
  margin-left: -56px;
  animation-delay: 0.4s;
}
.loader-anim-profile span:nth-child(6) {
  margin-left: -70px;
  animation-delay: 0.5s;
}
.loader-anim-profile span:nth-child(7) {
  margin-left: -84px;
  animation-delay: 0.6s;
}
.loader-anim-profile span:nth-child(8) {
  margin-left: -98px;
  animation-delay: 0.7s;
}
@keyframes animate-profile {
  0% {
    height: 5px;
    margin-top: 0;
    transform: rotate(40deg);
    background-color: $color-meta;
  }
  100% {
    background-color: $color-meta;
    height: 90px;
    transform: rotate(0deg);
  }
}

.profile-install-message {
  margin-top: 25px;
  text-align: center;
}

.import-token-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#import-load-anim {
  width: 22px;
  height: 22px;
  margin-left: 5px;
}

.nft-url-icon {
  font-size: 18px;
  margin-left: 4px;
}

.no-nft-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  div {
    margin: 0px;
  }
}

.no-nft-left-icon {
  font-size: 18px;
}

#range-nft {
  cursor: default;
  height: 21px;
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}
#range-nft:focus {
  outline: none;
}
#range-nft::-webkit-slider-runnable-track {
  cursor: default;
  width: 100%;
  height: 6px;
  box-shadow: 0px 0px 0px transparent;
  background: $color-border;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
#range-nft::-webkit-slider-thumb {
  cursor: default;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 6px;
  border-radius: 4px;
  background: $color-meta;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
#range-nft:focus::-webkit-slider-runnable-track {
  cursor: default;
  background: $color-border;
}
#range-nft::-moz-range-track {
  cursor: default;
  width: 100%;
  height: 6px;
  box-shadow: 0px 0px 0px transparent;
  background: $color-border;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
#range-nft::-moz-range-thumb {
  cursor: default;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 6px;
  border-radius: 4px;
  background: $color-meta;
}
#range-nft::-ms-track {
  cursor: default;
  width: 100%;
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#range-nft::-ms-fill-lower {
  cursor: default;
  background: $color-border;
  border: 0px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px transparent;
}
#range-nft::-ms-fill-upper {
  cursor: default;
  background: $color-border;
  border: 0px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px transparent;
}
#range-nft::-ms-thumb {
  cursor: default;
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 5px;
  border-radius: 5px;
  background: #58667e;
}
#range-nft:focus::-ms-fill-lower {
  cursor: default;
  background: $color-border;
}
#range-nft:focus::-ms-fill-upper {
  cursor: default;
  background: $color-border;
}

.tooltip-nft-info {
  font-size: 14px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tooltip-nft-info-block {
  & p:first-child {
    text-align: center;
    font-weight: 500;
  }

  span {
    font-weight: 400;
  }
}

.tooltip-div-flex {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
    font-size: 16px;
    color: #363636;
  }
}

.tooltip-div-flex-white {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
    font-size: 16px;
    color: white;
  }
}

.nft-calendar-icon {
  font-size: 14px !important;
  margin-left: 1px;
}

.tooltip-percent-flex {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-top: -1px;
    margin-left: 1px;
    font-size: 14px;
  }
}

.display-none {
  display: none !important;
}

.transaction-label-block {
  display: flex;
  align-items: center;
  margin-top: 14px;

  svg {
    font-size: 20px;
    margin-right: 6px;
  }
}

.transaction-label-block-icon {
  font-size: 22px !important;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.nft-image-loader {
  background-color: #363636;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $color-meta;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
