@import './var.scss';

.tools-page {
  width: 100%;
  height: calc(75vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools-block {
  width: 75%;
  max-width: 1200px;
  height: 70%;
  max-height: 550px;
  border-radius: 20px;
  position: relative;
}

.converter {
  position: absolute;
  left: 0;
  width: 55%;
  height: 100%;
  float: left;
  border-radius: 20px 0 0 20px;
  clip-path: polygon(0 -18%, 100% 0%, 100% 100%, 0% 100%);

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    filter: grayscale(75%);
    transition: 0.3s;
  }

  &:hover > img {
    filter: grayscale(0%);
    transition: 0.3s;
  }
}

.indicator {
  position: absolute;
  right: 0;
  width: 55%;
  height: 100%;
  float: left;
  border-radius: 0 20px 20px 0;
  clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    filter: grayscale(75%);
    transition: 0.3s;
  }

  &:hover > img {
    filter: grayscale(25%);
    transition: 0.3s;
  }
}

.converter-text {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  color: white;
  background-color: $color-darkgray;
  border-radius: 0 0 0 20px;
  background-color: rgba(0, 0, 0, 0.5);

  & p {
    margin-left: -100px;
  }
}

.indicator-text {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  color: white;
  background-color: $color-darkgray;
  border-radius: 0 20px 0 0;
  background-color: rgba(0, 0, 0, 0.5);

  & p {
    margin-left: 100px;
  }
}

.indicators-block {
  margin-top: 50px;
  width: 100%;
}

.indicator-fear {
  width: 100%;
}

.indicator-stock {
  margin-top: 50px;
  width: 100%;
  background-color: chartreuse;
}

.indicator-halving {
  margin-top: 50px;
  width: 100%;
}

.indicator-header {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 400px;
  cursor: help;
}

.indicator-desc {
  font-size: 16px;
  width: 100%;
}

.fear-blocks {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.fear-block {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  border-radius: 10px;
  padding: 15px;

  & > p {
    text-align: center;
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.fear-chart {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.fear-data-historical {
  height: 230px;
  display: flex;
  flex-direction: column;
}

.historical-value {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $color-darkgray;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    color: #4a4a4a;
    font-weight: 500;

    & p:last-child {
      font-weight: 600;
      font-size: 18px;
    }
  }

  & div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.historical-value:last-child {
  border-bottom: 0px solid $color-darkgray;
}

.fear-data-update {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & p:first-child {
    font-size: 16px;
    font-weight: 500;
  }
}

#next-update {
  font-size: 15px;
}

.fear-data {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-weight: 600;
    font-size: 18px;
  }
}

.gauge-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fear-data-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stock-block {
  width: 100%;
  height: 400px;
}

.halving-block {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  & > p {
    font-weight: 600;
  }
}

.halving-time {
  width: 40%;
  justify-content: space-between;
  display: flex;
}

.time-block {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 105px;
  height: 120px;

  font-size: 12px;
  font-weight: 500;

  & > p {
    font-size: 24px;
    font-weight: 700;
  }
}

.halving-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 45%;

    input[type='range'] {
      height: 36px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      cursor: default;
    }
    input[type='range']:focus {
      outline: none;
      cursor: default;
    }
    input[type='range']::-webkit-slider-runnable-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #50555c;
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      border-radius: 14px;
      border: 0px solid #000000;
      cursor: default;
    }
    input[type='range']::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 30px;
      width: 5px;
      border-radius: 2px;
      background: #363636;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px;
      cursor: default;
    }
    input[type='range']:focus::-webkit-slider-runnable-track {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      cursor: default;
    }
    input[type='range']::-moz-range-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #50555c;
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      border-radius: 14px;
      border: 0px solid #000000;
      cursor: default;
    }
    input[type='range']::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 30px;
      width: 5px;
      border-radius: 2px;
      background: #363636;
      cursor: pointer;
      cursor: default;
    }
    input[type='range']::-ms-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
      cursor: default;
    }
    input[type='range']::-ms-fill-lower {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      border: 0px solid #000000;
      border-radius: 28px;
      box-shadow: 0px 0px 0px #50555c;
      cursor: default;
    }
    input[type='range']::-ms-fill-upper {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      border: 0px solid #000000;
      border-radius: 28px;
      box-shadow: 0px 0px 0px #50555c;
      cursor: default;
    }
    input[type='range']::-ms-thumb {
      margin-top: 1px;
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 30px;
      width: 5px;
      border-radius: 2px;
      background: #363636;
      cursor: pointer;
      cursor: default;
    }
    input[type='range']:focus::-ms-fill-lower {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      cursor: default;
    }
    input[type='range']:focus::-ms-fill-upper {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 128, 0, 1) 25%,
        rgba(255, 215, 0, 1) 50%,
        rgba(30, 223, 30, 1) 75%,
        rgba(0, 191, 255, 1) 100%
      );
      cursor: default;
    }
  }
}

.slider-slider {
  width: 40% !important;
}

.slider-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;

  & div {
    display: flex;
    align-items: center;

    & p {
      padding: 5px 10px;
      background-color: #363636;
      color: white;
      border-radius: 16px;
      font-size: 16px;
      margin-left: 6px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
    }
  }
}

.tools-hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.converter-block {
  width: 75%;
  max-width: 1200px;
  height: 450px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.con-info {
  width: 100%;
  height: 125px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con-info-block {
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  border-radius: 10px;
  padding: 4px 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & p:last-child {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }

  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

.blured-text {
  font-size: 40px;
  color: transparent;
  text-shadow: 0 0 8px #363636;
  transition: text-shadow 5s ease;
}

.blured-text-trans {
  transition: text-shadow 0.5s ease-out;
}

.con-converter {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #363636;
}

.converter-left {
  height: 100%;
  width: 375px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > p {
    font-size: 20px;
    font-weight: 600;
  }
}

.select-currency {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  & img {
    margin: 0px 10px;
    width: 40px;
  }
}

.converter-center {
  height: 50px;
  width: 50px;
  background: #50555c;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.converter-right {
  height: 100%;
  width: 375px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > p {
    font-size: 20px;
    font-weight: 600;
  }
}

$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.15rem;
  padding: 6px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 600;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.25rem;
    cursor: text;
    top: 20px;
    font-weight: 500;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  font-weight: 600;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 600;
  }

  padding-bottom: 6px;
  font-weight: 600;
  border-width: 2px;
  border-image-slice: 1;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.block-24h-big {
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  font-weight: 600;
  padding: 2px 4px;
  background-color: #eff2f5;
  color: #58667e;
}

.dropdown-currency {
  height: 100%;
  width: 315px;
}

.currencies-row {
  text-transform: capitalize;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-weight: 600;
  & span {
    color: darkgray;
    margin-left: 10px;
  }
}

#price-change-arrow-up {
  margin-bottom: -8px;
  color: $color-up;
}

#price-change-arrow-down {
  margin-bottom: 1px;
  color: $color-down;
}

.MuiOutlinedInput-input {
  font-weight: 500 !important;
}
